@tailwind base;
@tailwind components;
@tailwind utilities;

.textCss {
  @apply flex items-center text-base gap-4 font-bold;
}

.svgCss {
  @apply w-8 h-8;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ef4444;
}

@media (max-width: 660px) {
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
